html {
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
}

html {
    background-image: url('../images/back_sunlight.jpg');
    background-size: 100% 100%; /* 或者使用 contain */
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; /* 可选：背景图片固定在视窗上 */
}
 

img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

.navbar {
    width: 100%;
    background-color: rgba(0, 0, 0, 0); /* 半透明背景 */
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end; /* 按钮靠右 */
    padding: 10px 20px;
    box-sizing: border-box;
    z-index: 1000;
  }
  
.navbar button {
    background-color: rgba(0,0,0,0);
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
.navbar button:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
.content {
    padding-top: 60px; /* 确保内容不被导航栏遮挡 */
    padding: 20px;
    background: rgba(255, 255, 255, 0.3);
    height: 200%; /* 为了滚动效果，设置较大的高度 */
  }